<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    {#    <link rel="icon" type="image/x-icon"#}
    {#          href="https://i.fbcd.co/products/resized/resized-750-500/ae2d64e634f5beaa6f0e867d529ece28f0504e9e24fc4d5e0d6fd21f0a05df7f.webp">#}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="{% static 'styles/index.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" defer></script>
</head>
<body>

<nav class="navbar navbar-expand-md navbar-dark bg-black bg-opacity-75 ">
    <div class="container-md">

        <!-- Logo -->
        <a href="{% url 'index' %}" id="logo"
           class="navbar-brand fst-italic">Litera</a>

        <!-- Dropdown button for the menu on smaller screens -->
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#links-collapse"><span
                class="navbar-toggler-icon"></span></button>

        <!-- Links -->
        <div class="collapse navbar-collapse " id="links-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="my-md-auto"><a class="nav-link" href="{% url 'list_books' %}">Books</a></li>
                <li class="my-md-auto"><a class="nav-link" href="{% url 'list_authors' %}">Authors</a>
                </li>
                <li class="my-md-auto"><a class="nav-link" href="{% url 'search' %}">Search</a></li>


                <!-- Auth status, reading list and profile picture -->
                {% if request.user.is_authenticated %}
                    <li class="my-md-auto"><a class="nav-link" href="{% url 'my_reading_list' %}">Reading
                        List</a></li>
                    <li class="my-md-auto">
                        <a class="nav-link"
                           href="{% url 'user_profile' request.user.id %}">Hello, {{ request.user }}!</a>
                    </li>
                    <li class="my-3 my-md-auto ms-md-1 me-md-3">
                        <a href="{% url 'logout' %}" class="btn btn-danger ">Log out</a>
                    </li>

                    {% if  request.user.profile.profile_picture.url %}
                        <li class="my-md-auto"><img
                                class="profile-picture-nav" src="{{ request.user.profile.profile_picture.url }}"
                                alt="profile"></li>
                    {% endif %}
                {% else %}
                    <li class="my-md-auto">
                        <a href="{% url 'login' %}" class="btn btn-danger ">Log in</a></li>
                {% endif %}

            </ul>
        </div>

    </div>


</nav>


<!-- Main content -->
<div class="bg-dark pt-4 text-white" id="content">
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
</div>


</body>
</html>