{% extends 'base/base.html' %}
{% block title %}
    {{ author.full_name }} - Litera
{% endblock %}

{% block content %}
    <h2 class="text-white">{{ author.full_name }}</h2>
    <p class="text-white">Age: {{ author.age }}</p>
    {% if books %}
        <ul>
            {% for book in books %}
                <li class="text-white">{{ book.title }}</li>

            {% endfor %}
        </ul>

    {% else %}
        <p class="text-white">There are no books by this author.</p>
    {% endif %}
{% endblock %}


