{% extends 'base/base.html' %}
{% block title %}
    Register - Litera
{% endblock %}

{% block content %}
    <form enctype="multipart/form-data" method="post" action="{% url 'register' %}"
          class="text-white d-flex flex-column gap-2 w-25"
          id="registration-form">
        {% csrf_token %}
        <h1>Register</h1>
        {% for error in form.non_field_errors.as_data.0 %}
            <p class="text-warning">{{ error }}</p>
        {% endfor %}


        {% for field in form %}
            {% for error in field.errors %}
                <p class="text-warning">{{ error }}</p>
            {% endfor %}

            <div>{{ field.label }}</div>
            <div>{{ field }}</div>
        {% endfor %}
        <button type="submit">Create an account!</button>
        <p class="text-center">Already have an account? <a href="{% url 'login' %}"> Log in</a></p>
    </form>


{% endblock %}